package utils

import (
	"crypto/sha256"
	"encoding/base64"

	"golang.org/x/crypto/bcrypt"
)

func HashPassword(password string) (string, error) {
	h := PreHashing(password)
	hash, err := bcrypt.GenerateFromPassword([]byte(h), bcrypt.DefaultCost)
	return string(hash), err
}

func PreHashing(password string) string {
	h := sha256.Sum256([]byte(password))
	return base64.StdEncoding.EncodeToString(h[:])
}
