package domain

import (
[[- if .HasNonUserRefs]]
	"fmt"
[[- end]]
	"time"
)

type [[.ModelName]] struct {
	ID        string    `json:"id"`
[[- range .Fields]]
	[[.GoName]] [[.GoType]] `json:"[[.JSONTag]]"`
[[- end]]
	CreatedAt time.Time `json:"created_at"`
	UpdatedAt time.Time `json:"updated_at"`
}

func (m [[.ModelName]]) Validate() error {
[[- range .Fields]]
[[- if and .IsRef (not .IsUserRef)]]
	if m.[[.GoName]] == "" {
		return fmt.Errorf("%w: [[.Name]] is required", ErrInvalidInput)
	}
[[- end]]
[[- end]]
	return nil
}
