package web

import (
	"log/slog"
	"net/http"
[[- if .NeedsStrconv]]
	"strconv"
[[- end]]
[[- if .HasTimeImport]]
	"time"
[[- end]]

	"github.com/go-chi/chi/v5"

	"[[.ModulePath]]/internal/domain"
	"[[.ModulePath]]/web"
	"[[.ModulePath]]/web/components/[[.ModelNameLC]]"
)

type [[.ModelName]]Handler struct {
	service domain.[[.ModelName]]Service
	logger  *slog.Logger
}

func New[[.ModelName]]Handler(service domain.[[.ModelName]]Service, logger *slog.Logger) *[[.ModelName]]Handler {
	return &[[.ModelName]]Handler{service: service, logger: logger}
}

func (h *[[.ModelName]]Handler) Register(r chi.Router) {
	r.Route("[[.RoutePrefix]]", func(r chi.Router) {
		r.Get("/", h.index)
		r.Get("/new", h.newForm)
		r.Post("/", h.create)
		r.Get("/{id}", h.show)
		r.Get("/{id}/edit", h.editForm)
		r.Post("/{id}", h.update)
		r.Post("/{id}/delete", h.delete)
[[- range .Refs]][[- if not .IsUserRef]]
		r.Get("/by-[[.URLSegment]]/{[[.ParamName]]}", h.listBy[[.RefModel]])
[[- end]][[- end]]
	})
}

func (h *[[.ModelName]]Handler) index(w http.ResponseWriter, r *http.Request) {
[[- if and .Protected .HasUserRef]]
	userID := domain.GetContextUser(r.Context())
	if userID == "" {
		http.Redirect(w, r, "/auth/login", http.StatusSeeOther)
		return
	}
	items, err := h.service.[[.UserRef.ServiceMethod]](r.Context(), userID)
[[- else if .Protected]]
	if domain.GetContextUser(r.Context()) == "" {
		http.Redirect(w, r, "/auth/login", http.StatusSeeOther)
		return
	}
	items, err := h.service.List(r.Context())
[[- else]]
	items, err := h.service.List(r.Context())
[[- end]]
	if err != nil {
		h.logger.Error("list [[.ModelNameLC]]s", "error", err)
		web.RenderError(w, r, err)
		return
	}
	web.Render(w, r, [[.ModelNameLC]].Index(items))
}

func (h *[[.ModelName]]Handler) show(w http.ResponseWriter, r *http.Request) {
	id := chi.URLParam(r, "id")
	item, err := h.service.Get(r.Context(), id)
	if err != nil {
		h.logger.Error("get [[.ModelNameLC]]", "id", id, "error", err)
		web.RenderError(w, r, err)
		return
	}
	web.Render(w, r, [[.ModelNameLC]].Show(item))
}

func (h *[[.ModelName]]Handler) newForm(w http.ResponseWriter, r *http.Request) {
	web.Render(w, r, [[.ModelNameLC]].New())
}

func (h *[[.ModelName]]Handler) create(w http.ResponseWriter, r *http.Request) {
[[- if .Protected]]
	userID := domain.GetContextUser(r.Context())
	if userID == "" {
		http.Redirect(w, r, "/auth/login", http.StatusSeeOther)
		return
	}
[[- end]]
	if err := r.ParseForm(); err != nil {
		web.RenderError(w, r, err)
		return
	}
	var m domain.[[.ModelName]]
[[- range .Fields]]
[[- if .IsRef]]
	m.[[.GoName]] = r.FormValue("[[.Name]]")
[[- else if eq .GoType "string"]]
	m.[[.GoName]] = r.FormValue("[[.Name]]")
[[- else if eq .GoType "bool"]]
	m.[[.GoName]] = r.FormValue("[[.Name]]") == "on"
[[- else if eq .GoType "int"]]
	if v, err := strconv.Atoi(r.FormValue("[[.Name]]")); err == nil {
		m.[[.GoName]] = v
	}
[[- else if eq .GoType "float64"]]
	if v, err := strconv.ParseFloat(r.FormValue("[[.Name]]"), 64); err == nil {
		m.[[.GoName]] = v
	}
[[- else if eq .GoType "time.Time"]]
	if v, err := time.Parse("2006-01-02T15:04", r.FormValue("[[.Name]]")); err == nil {
		m.[[.GoName]] = v
	}
[[- end]]
[[- end]]
[[- if and .Protected .HasUserRef]]
	m.[[.UserRefGoName]] = userID
[[- end]]
	created, err := h.service.Create(r.Context(), m)
	if err != nil {
		h.logger.Error("create [[.ModelNameLC]]", "error", err)
		web.RenderError(w, r, err)
		return
	}
	http.Redirect(w, r, "[[.RoutePrefix]]/"+created.ID, http.StatusSeeOther)
}

func (h *[[.ModelName]]Handler) editForm(w http.ResponseWriter, r *http.Request) {
	id := chi.URLParam(r, "id")
	item, err := h.service.Get(r.Context(), id)
	if err != nil {
		h.logger.Error("get [[.ModelNameLC]] for edit", "id", id, "error", err)
		web.RenderError(w, r, err)
		return
	}
	web.Render(w, r, [[.ModelNameLC]].Edit(item))
}

func (h *[[.ModelName]]Handler) update(w http.ResponseWriter, r *http.Request) {
	id := chi.URLParam(r, "id")
	// Fetch first so ref fields (not in form) are preserved.
	m, err := h.service.Get(r.Context(), id)
	if err != nil {
		h.logger.Error("update [[.ModelNameLC]]", "id", id, "error", err)
		web.RenderError(w, r, err)
		return
	}
	if err := r.ParseForm(); err != nil {
		web.RenderError(w, r, err)
		return
	}
[[- range .Fields]]
[[- if .IsRef]]
[[- else if eq .GoType "string"]]
	m.[[.GoName]] = r.FormValue("[[.Name]]")
[[- else if eq .GoType "bool"]]
	m.[[.GoName]] = r.FormValue("[[.Name]]") == "on"
[[- else if eq .GoType "int"]]
	if v, err := strconv.Atoi(r.FormValue("[[.Name]]")); err == nil {
		m.[[.GoName]] = v
	}
[[- else if eq .GoType "float64"]]
	if v, err := strconv.ParseFloat(r.FormValue("[[.Name]]"), 64); err == nil {
		m.[[.GoName]] = v
	}
[[- else if eq .GoType "time.Time"]]
	if v, err := time.Parse("2006-01-02T15:04", r.FormValue("[[.Name]]")); err == nil {
		m.[[.GoName]] = v
	}
[[- end]]
[[- end]]
	if err := h.service.Update(r.Context(), *m); err != nil {
		h.logger.Error("update [[.ModelNameLC]]", "id", id, "error", err)
		web.RenderError(w, r, err)
		return
	}
	http.Redirect(w, r, "[[.RoutePrefix]]/"+id, http.StatusSeeOther)
}

func (h *[[.ModelName]]Handler) delete(w http.ResponseWriter, r *http.Request) {
	id := chi.URLParam(r, "id")
	if err := h.service.Delete(r.Context(), id); err != nil {
		h.logger.Error("delete [[.ModelNameLC]]", "id", id, "error", err)
		web.RenderError(w, r, err)
		return
	}
	http.Redirect(w, r, "[[.RoutePrefix]]", http.StatusSeeOther)
}
[[range .Refs]][[if not .IsUserRef]]
func (h *[[$.ModelName]]Handler) listBy[[.RefModel]](w http.ResponseWriter, r *http.Request) {
	[[.ParamName]] := chi.URLParam(r, "[[.ParamName]]")
	items, err := h.service.[[.ServiceMethod]](r.Context(), [[.ParamName]])
	if err != nil {
		web.RenderError(w, r, err)
		return
	}
	web.Render(w, r, [[$.ModelNameLC]].Index(items))
}
[[end]][[end]]
