package ports

import (
	"context"

	"[[.ModulePath]]/internal/core/domains"
)

type [[.ModelName]]Store interface {
	Create[[.ModelName]](ctx context.Context, m domains.[[.ModelName]]) (string, error)
	Get[[.ModelName]](ctx context.Context, id string) (*domains.[[.ModelName]], error)
	List[[.ModelName]]s(ctx context.Context) ([]domains.[[.ModelName]], error)
[[- range .Refs]]
	[[.StoreMethod]](ctx context.Context, [[.ParamName]] string) ([]domains.[[$.ModelName]], error)
[[- end]]
	Update[[.ModelName]](ctx context.Context, m domains.[[.ModelName]]) error
	Delete[[.ModelName]](ctx context.Context, id string) error
}

type [[.ModelName]]Service interface {
	Create(ctx context.Context, m domains.[[.ModelName]]) (*domains.[[.ModelName]], error)
	Get(ctx context.Context, id string) (*domains.[[.ModelName]], error)
	List(ctx context.Context) ([]domains.[[.ModelName]], error)
[[- range .Refs]]
	[[.ServiceMethod]](ctx context.Context, [[.ParamName]] string) ([]domains.[[$.ModelName]], error)
[[- end]]
	Update(ctx context.Context, m domains.[[.ModelName]]) error
	Delete(ctx context.Context, id string) error
}
