package web

import (
	"errors"
	"net/http"

	"github.com/a-h/templ"
	"[[.ModulePath]]/internal/domain"
	"[[.ModulePath]]/web/components"
)

func Render(w http.ResponseWriter, r *http.Request, component templ.Component) {
	w.Header().Set("Content-Type", "text/html; charset=utf-8")
	if err := component.Render(r.Context(), w); err != nil {
		http.Error(w, err.Error(), http.StatusInternalServerError)
	}
}

func RenderError(w http.ResponseWriter, r *http.Request, err error) {
	switch {
	case errors.Is(err, domain.ErrNotFound):
		w.WriteHeader(http.StatusNotFound)
	case errors.Is(err, domain.ErrForbidden):
		w.WriteHeader(http.StatusForbidden)
	case errors.Is(err, domain.ErrUnauthorized):
		w.WriteHeader(http.StatusUnauthorized)
	default:
		w.WriteHeader(http.StatusInternalServerError)
	}
	Render(w, r, components.Error(err.Error()))
}
