{{component "layout"}}
  {{fill "title"}}[[.ModelName]]{{end}}
  {{fill "content"}}
  <div class="container">
    <h1>[[.ModelName]]</h1>

    <dl>
[[- range .Fields]]
      <dt>[[.GoName]]</dt>
      <dd>{{.[[$.ModelName]].[[.GoName]]}}</dd>
[[- end]]
    </dl>

    <div class="actions">
      <a href="[[.RoutePrefix]]/{{.[[$.ModelName]].ID}}/edit" class="btn">Edit</a>
      <form method="POST" action="[[.RoutePrefix]]/{{.[[$.ModelName]].ID}}/delete" style="display:inline">
        <button type="submit" onclick="return confirm('Delete?')">Delete</button>
      </form>
      <a href="[[.RoutePrefix]]">Back</a>
    </div>
  </div>
  {{end}}
{{end}}
