package web

import (
	"net/http"

	"github.com/go-chi/chi/v5"

	"[[.ModulePath]]/web"
	"[[.ModulePath]]/web/components/[[.NameLC]]"
)

type [[.Name]]Handler struct{}

func New[[.Name]]Handler() *[[.Name]]Handler {
	return &[[.Name]]Handler{}
}

func (h *[[.Name]]Handler) Register(r chi.Router) {
	r.Get("[[.Route]]", h.show)
}

func (h *[[.Name]]Handler) show(w http.ResponseWriter, r *http.Request) {
	web.Render(w, r, [[.NameLC]].Page())
}
