package layouts

templ Layout(title string) {
	<!DOCTYPE html>
	<html lang="en" data-theme="light">
		<head>
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<title>{ title }</title>
			<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
			<script src="https://cdn.tailwindcss.com"></script>
		</head>
		<body class="min-h-screen bg-base-200">
			<header class="navbar bg-base-100 shadow-md mb-8">
				<div class="container mx-auto">
					<div class="flex-1">
						<a href="/" class="btn btn-ghost text-xl">App</a>
					</div>
					<div class="flex-none">
						<ul class="menu menu-horizontal px-1">
							<li><a href="/posts">Posts</a></li>
							<li><a href="/cats">Cats</a></li>
						</ul>
					</div>
				</div>
			</header>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
