services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: [[.ProjectName]]
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d [[.ProjectName]]"]
      interval: 5s
      timeout: 5s
      retries: 5
[[- end]]

volumes:
[[- if .IsSQLite]]
  app_data:
[[- else]]
  pg_data:
[[- end]]
