{{component "layout"}}
  {{fill "title"}}Reset Password{{end}}
  {{fill "content"}}
  <div class="auth-form">
    <h1>Reset Password</h1>
    {{if .Flash}}
      {{component "flash"}}
        {{fill "type"}}{{.Flash.Type}}{{end}}
        {{fill "message"}}{{.Flash.Message}}{{end}}
      {{end}}
    {{end}}
    <form method="POST" action="/auth/reset-password">
      <input type="hidden" name="token" value="{{.Token}}" />
      <div class="field">
        <label for="password">New Password</label>
        <input type="password" id="password" name="password" required autocomplete="new-password" />
      </div>
      <button type="submit">Reset Password</button>
    </form>
  </div>
  {{end}}
{{end}}
